#comment-box {
  margin: 0 auto 10px;
  padding: 20px;
  text-align: left;
}

.comment-container {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.comment-list-item {
  list-style-type: none;
}

#comments-title {
  margin: -10px 0 20px;
  text-align: center;
}

.margin-left {
  margin-left: 10px;
}

.in-page-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
  
}

.add-comment-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.add-comment-form {
  margin: 0 auto;
  padding: 15px 0 0;
}


