.image-card {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  opacity: 1;
}

.selected {
  cursor: pointer;
  /* opacity: 1; */
}

.image-card-container {
  width: 100%;
  position: relative;
  display: inline-block;
}

.hover-icon-container {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3px 10px 7px;
  box-shadow: 0 0 5px 4px rgba(255, 255, 255, 0.6);
}

.hover-close-container {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* background-color: rgba(255, 255, 255, 0.6); */
  /* background-color: rgba(0,0,0, 0.4); */
  background-color: rgba(200,200,200, 0.7);
  /* box-shadow: 0 0 5px 4px rgba(180,180,180, 0.7); */
  /* box-shadow: 0 0 5px 4px rgba(0,0,0, 0.4); */
  /* box-shadow: 0 0 5px 4px rgba(255, 255, 255, 0.5); */
}

.hover-username {
  color: #000;
  font-weight: bold;
  margin-left: 8px;
}

#image-user-info {
  display: flex;
  align-items: center;
}

#close-symbol {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  color: #dc0000;
  cursor: grabbing;
}

.delete-btn-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 30px;
  right: 50%;
  transform: translateX(50%);
}

.margin-top {
  margin-top: 10px;
}

.hover-left {
  display: flex;
  align-items: center;
}

.hover-right {
  display: flex;
  align-items: center;
  /* font-size: 0.9rem; */
  color: #333;
}

.hover-right p {
  margin: 0 5px 0 15px;
}

.hover-icons {
  font-size: 1.1rem;
  cursor: pointer;
}

.likes-heart-icon {
  color: #dc0000;
}