.image-card {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  opacity: 1;
}

.selected {
  cursor: pointer;
  /* opacity: 1; */
}


.image-card-container {
  width: 100%;
  position: relative;
  display: inline-block;
}

.hover-icon-container {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  box-shadow: 0 0 5px 4px rgba(255, 255, 255, 0.6);

}

.hover-username {
  color: #000;
  font-weight: bold;
  margin-left: 8px;
}

#image-user-info {
  display: flex;
  align-items: center;
}

#close-symbol {
  font-size: 1.8rem;
  color: #dc0000;
  cursor: grabbing;
  padding: 3px;
}
