.navbar {
  background-color: var(--nav-bg);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  max-width: var(--body-width);
  margin: 0 var(--nav-sides);
  top: 0;
  z-index: 1;
  opacity: 0.9;
}

.navbar-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo img {
  height: 50px;
  margin-right: 25px;
}

.settings-avatar-margin {
  margin-left: 15px;
}

#nav-title-text {
  /* font-family: 'Cabin Sketch', sans-serif; */
  /* font-family: 'Pacifico', sans-serif; */
  /* font-family: 'Amaranth Family', sans-serif; */
  /* font-family: 'Mansalva', sans-serif; */
  font-family: 'Rubik', sans-serif;
  /* font-family: 'Concert One', sans-serif; */
  font-size: 3rem;
  /* text-transform: uppercase; */
  font-weight: 400;
  color: #444;
}

.navbar-logo:hover h1 {
  color: #93ce00;
}

.navbar-container a {
  text-decoration: none;
  /* color: var(--primary-text-color); */
}

.divider-line {
  height: 1px;
  background-color: #c8c8c8;
}

.letter1 {
  color: #0d39da;
}
.letter2 {
  color: #cd1111;
}
.letter3 {
  color: #1adc1a;
}
.letter4 {
  color: #ffbb00;
}
.letter5 {
  color: #8e158e;
}
.letter6 {
  color: #5d2ca1;
}

/* NAVBAR LOGO SPINS */
.rotateCw {
  transform-origin: 50% 60.5%;
  transform: rotate(360deg);
  transition: transform 0.8s ease-in-out;
}

.rotateCcw {
  transform: rotate(-1080deg);
  transition: transform 1.2s ease-in-out;
}

/* COLOURS FOR LETTER AVATARS */
.blue {
  background-color: #1180d4;
  color: #ffdf3e;
}

.green {
  background-color: #3bae02;
  color: #ffdf3e;
}

.orange {
  background-color: #ea7f13;
  color: #000;
}

.purple {
  background-color: #8b16ca;
  color: #ffdf3e;
} 

.red {
  background-color: #cd1111;
  color: #fff;
}

.yellow {
  background-color: #f7e815;
  color: #000;
}

.pink {
  background-color: #b626ac;
  color: #fff;
}



