.navbar {
  background-color: var(--nav-bg);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  max-width: var(--body-width);
  margin: 0 var(--nav-sides);
  top: 0;
  z-index: 1;
  opacity: 0.9;
}

.navbar-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo img {
  height: 40px;
  margin-right: 15px;
}

.settings-avatar-margin {
  margin-left: 15px;
}

#nav-title-text {
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 3rem;
  /* text-transform: uppercase; */
  font-weight: 700;
  color: #444;
}

.navbar-logo:hover h1 {
  color: #93ce00;
}

.navbar-container a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.divider-line {
  height: 1px;
  background-color: #c8c8c8;
}

.letter1 {
  color: #0d39da;
}
.letter2 {
  color: #cd1111;
}
.letter3 {
  color: #1adc1a;
}
.letter4 {
  color: #b816ca;
}
.letter5 {
  color: #9c229c;
}
.letter6 {
  color: #00b893;
}
.letter7 {
  color: #e9b816;
}
.letter8 {
  color: #5d2ca1;
}
