.nav-link {
    background-color: var(--nav-link-color);
    font-size: 1.2rem;
    margin-left: 15px;
    padding: 8px 20px;
    text-decoration: none;
    transition: color 0.3s linear;
    border-radius: 20px;
    border: 1px solid #c3c3c3;
    outline: 1px solid var(--nav-bg);
}

.settings-icon, .user-settings-icon {
  padding: 0 8px;
  font-size: 1.8rem;
  border: 1px solid var(--nav-bg);
  background-color: var(--nav-bg);
  margin-left: 5px;
}

.user-settings-icon {
  font-size: 1.8rem;
  margin-left: -20px;
}

.nav-link a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover {
    /* outline: 1px solid #3862f8; */
    background-color: var(--lime);
}

.nav-link:hover a {
    color: #5a5a5b;
}

