.nav-link {
    background-color: var(--nav-link-color);
    color: var(--primary-text-color);
    /* background-color: #294482;
    color: #fff; */
    font-size: 1.2rem;
    margin-left: 15px;
    padding: 8px 20px;
    text-decoration: none;
    transition: color 0.3s linear;
    border-radius: 20px;
    border: 1px solid #77777b;
    /* outline: 1px solid var(--nav-bg); */
    font-weight: bold;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover {
    background-color: var(--lime);
    color: #444444;
  }

#add-image-navlink {
  display: flex;
}
