#single-image-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 var(--nav-sides);
  max-width: 90vw;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #333;
}

#selected-image-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

#selected-image-user-and-time-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

#selected-image-comments-likes {
  display: flex;
  align-items: center;
  color: #333;
  margin-left: 20px;
}

#selected-image-comments-likes p {
  margin: 0 5px 0 15px;
}

#selected-image-info-container p {
  margin-left: 10px;
}

#comment-like-btn-container {
  margin-top: 20px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-image {
  border: 1px solid #777;
  border-radius: 5px;
  max-height: 70vh;
  max-width: 80vw;
}

#image-info {
  max-width: calc(100% - 65px);
  max-width: calc(100%);
  /* max-width: 100px; */
}

#single-image-container {
  position: relative;
  max-height: 70vh;
  max-width: 80vw;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgb(51, 51, 51, 0.6);
  font-size: 50px;
  z-index: 100;
  background-color: rgb(255, 255, 255, 0.4);
  box-shadow: 0 0 5px 4px rgba(255, 255, 255, 0.6);
  text-align: center;
  line-height: 0.7;
  border-radius: 50%;
}

#left-arrow {
  left: 15px;
}

#right-arrow {
  right: 40px;
  transform: translateX(50%) translateY(-50%);
}
