@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Cabin+Sketch:wght@400;700&family=Concert+One&family=Lobster+Two&family=Mansalva&family=Pacifico&family=Pragati+Narrow:wght@700&family=Raleway:wght@400;700&family=Rubik&family=Rubik+Moonrocks&family=Yanone+Kaffeesatz&display=swap');

:root {
  --primary-text-color: #707072;
  --secondary-color: #606060;
  --main-bg: #fff;
  --nav-bg: rgba(255, 255, 255, 0.8);
  --nav-link-color: #f6fdfe;

  --lime: #c3f73a;

  --body-width: 3000px;
  --sides: 50px;
  --nav-sides: calc(var(--sides) + 17px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  background-color: var(--main-bg);
  color: var(--primary-text-color);
}

#fixed-navbar-offset {
  height: 70px;
}

/* Avatar CSS */
.icon {
  height: 40px;
  width: 40px;
}

.icon-s {
  height: 25px;
  width: 25px;
}

.avatar-icon {
  object-fit: cover;
  border-radius: 50%;
  border: 0.5px solid #777;
}

.settings-icon {
  opacity: 0.8;
}

.avatar-letter-outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.5px solid #777;
}

.avatar-letter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.5px solid #777;
}

.avatar-letter-container h1 {
  font-size: 1.8rem;
  font-weight: 400;
}

.icon-letter {
  border-radius: 50%;
}

.letter-s h1 {
  font-size: 1.3rem;
}

@media (max-width: 1000px) {
  :root {
    --sides: 30px;
  }
  .word1 {
    display: none;
  }
}

@media (max-width: 900px) {
}

@media (max-width: 800px) {
  /* #selected-image-info-container {
    flex-direction: column;
  }  */
  :root {
    --sides: 15px;
  }
}

@media (max-width: 700px) {
  #nav-title-text {
    font-size: 2.5rem;
  }
  .nav-link {
    background-color: #fff;
    font-size: 0.9rem;
    margin-left: 15px;
    padding: 6px 14px;
    text-decoration: none;
  }
  .navbar-logo img {
    height: 40px;
    margin-right: 15px;
  }
  .navbar-container {
    height: 50px;
  }
  #fixed-navbar-offset {
    height: 50px;
  }
  .form-container {
    /* height calc is vh - (navbar height + dividing line height) */
    height: calc(100vh - 51px); 
  }
  .icon {
    height: 30px;
    width: 30px;
  }
  .avatar-letter-container h1 {
    font-size: 1.3rem;
    font-weight: 400;
  }
  #nav-title-text {
    font-size: 2.3rem;
  }
  .navbar-logo img {
    height: 37px;
    margin-right: 15px;
  }
}

@media (max-width: 600px) {
  #image-info {
    max-width: calc(100% - 65px);
  }
}

@media (max-width: 550px) {
  #nav-title-text {
    display: none;
  }
  #selected-image-comments-likes {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  :root {
    --sides: 8px;
  }
  .nav-link {
    background-color: #fff;
    font-size: 0.9rem;
    margin-left: 8px;
    padding: 6px 12px;
    text-decoration: none;
  }
  .big-plus {
    font-size: 1rem;
    padding: 8px;
  }
}

@media (max-width: 390px) {
  #add-comment-textarea {
    width: 80%;
  }
  #cancel-add-comment-btn, #add-comment-btn {
    width: 35%;
    font-size: 0.8rem;
  }
}

@media (max-width: 350px) {
  #add-cancel-comment-btns {
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }
  #cancel-add-comment-btn {
    margin: 13px 0 0 0;
  }
  #cancel-add-comment-btn, #add-comment-btn {
    width: 100%;
    font-size: 0.9rem;
  }
}

@media (max-width: 330px) {
  #add-comment-textarea {
    width: 70%;
  }
}

@media (max-width: 315px) {
  .nav-link {
    font-size: 0.6rem;
  }
  .navbar-section {
    text-align: center;
  }
  #logout-navlink {
    margin-left: 0;
  }
  #comment-like-buttons-container {
    flex-direction: column;
  }
  #add-comment-btn {
    margin: 0;
  }
}

@media (max-width: 300px) {
  #add-comment-textarea {
    width: 70%;
  }
}

@media (max-width: 270px) {
  #add-comment-textarea {
    width: 60%;
  }
}