@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Cabin+Sketch:wght@400;700&family=Concert+One&family=Lobster+Two&family=Mansalva&family=Pacifico&family=Pragati+Narrow:wght@700&family=Raleway:wght@400;700&family=Rubik&family=Rubik+Moonrocks&family=Yanone+Kaffeesatz&display=swap');

:root {
  --primary-text-color: #707072;
  --secondary-color: #606060;
  --main-bg: #fff;
  --nav-bg: var(--main-bg);
  --nav-link-color: #f6fdfe;

  --lime: #c3f73a;

  --body-width: 3000px;
  --sides: 50px;
  --nav-sides: calc(var(--sides) + 17px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  background-color: var(--main-bg);
  color: var(--primary-text-color);
}

/* Avatar CSS */
.icon {
  height: 40px;
  width: 40px;
}

.icon-s {
  height: 25px;
  width: 25px;
}

.avatar-icon {
  object-fit: cover;
  border-radius: 50%;
  border: 0.5px solid #777;
}

.settings-icon {
  opacity: 0.8;
}

.avatar-letter-outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.5px solid #777;
}

.avatar-letter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.5px solid #777;
}

.avatar-letter-container h1 {
  font-size: 1.8rem;
  font-weight: 400;
}

.icon-letter {
  border-radius: 50%;
}

.letter-s h1 {
  font-size: 1.3rem;
}

@media (max-width: 1000px) {
  :root {
    --sides: 30px;
  }
  .word1 {
    display: none;
  }
}

@media (max-width: 900px) {
  #selected-image-info-container {
    flex-direction: column;
  } 
}

@media (max-width: 800px) {
  :root {
    --sides: 15px;
  }
  #nav-title-text {
    display: none;
  }
}

@media (max-width: 700px) {
  
  .nav-link {
    background-color: #fff;
    font-size: 0.9rem;
    margin-left: 15px;
    padding: 8px 14px;
    text-decoration: none;
  }
  .navbar-logo img {
    height: 40px;
    margin-right: 15px;
  }
  .navbar-container {
    height: 50px;
  }
  .form-container {
    /* height calc is vh - (navbar height + dividing line height) */
    height: calc(100vh - 51px); 
  }
}

@media (max-width: 450px) {
  :root {
    --sides: 8px;
  }
  .nav-link {
    background-color: #fff;
    font-size: 0.9rem;
    margin-left: 8px;
    padding: 8px 12px;
    text-decoration: none;
  }
  .big-plus {
    font-size: 1rem;
    padding: 8px;
  }
}

